.h1-main{
    padding-top: 2rem;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}
.p-main{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: #0000;
}
h1 span{
    color: #FCF908;
}
.main{
    margin-top: -15em;
    padding-top: 15em;
    background-image: linear-gradient(rgba(4, 56, 19, 0.7), rgba(0, 0, 0, 0.2)), url("../images/books-1204029.jpg");
    padding-bottom: 3em;
    background-size: cover; 
}
.h2-livre{
    text-decoration: none;
    color: #39C983;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.h2-home{
    text-transform: uppercase;
    font-size: 2em;
}
.h2-page-livre{
    text-decoration: none;
    color: #39C983;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
img{
    border: 0.5px solid rgb(228, 228, 228); 
}
.buttons{
    background-color: #FCF908;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.h-80{
    min-height: 80ch;
}
/*carusel style*/
.slider-image{
   width: 100%;
   height: 100%; 
   display: flex;
}

.carousel-control-prev{
    justify-content: start;
}
.carousel-control-next{
    justify-content: end; 
}